#carousel {
    display: flex;
    width: 500%; // 5 slides * 100%
    transition: transform 0.5s ease-in-out;
    height: 24rem;
  }
  
  .carousel-slide {
    width: 100%; // obligatoire pour que chaque slide prenne la place entière
    flex-shrink: 0;
    position: relative;
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  